﻿* {
    box-sizing: border-box;
}

body {
}

    body.StartMenuBody-Color {
        background: #5433FF; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }



.MemoryBody {
    background-color: antiquewhite;
    /*margin: 0 auto;*/
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.Card {
    width: 300px;
    height: 300px;
    transition-duration: 1s;
   
}

    .Card.flipped {
        transform: rotateY(180deg)
    }

    .Card.notFlipped {
        transform: rotateY(0deg)
    }


.Bild {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 5px;
    border: 5px solid #b5b5b5;
    margin-right:100px;
}

    .Bild:hover {
        border: 3px solid black;
    }

.MenuGrid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}
    .Card:hover {
        outline-width: 10px;
        outline-color:blue;
    }

#menubuttonsDiv {
    float:right;
}