﻿.karusell {
    margin: auto;
    max-width: 700px;
    max-height: 700px;
}

.answerGrid {
    margin: auto;
    max-width: 700px;
}

    .answerGrid .buttonRow {
        width: 100%;
    }

        .answerGrid .buttonRow Button {
            margin: auto;
            width: 50%;
            border-radius: 0;
        }

.settingsPanel {
    margin: auto;
    max-width: 700px;
}

    .settingsPanel .buttonRow {
        width: 100%;
    }

        .settingsPanel .buttonRow #bg-justified-dropdown {
            border-radius: 0;
        }

        .settingsPanel .buttonRow Button {
            margin: auto;
            /*width: 50%;*/
            border-radius: 0;
        }
