﻿body {
}

.Card {
    width: 300px;
    height: 300px;
    transition-duration: 1s;
}

    .Card.flipped {
        transform: rotateY(180deg)
    }

    .Card.notFlipped {
        transform: rotateY(-180deg)
    }
